
@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var slides = (List<Model.EF.Slide>)ViewBag.Slides;
    var listNewProducts = (List<Model.EF.Product>)ViewBag.NewProducts;
    var listFeatureProducts = (List<Model.EF.Product>)ViewBag.listFeatureProducts;
}

@section slide{
    <div class="header_slide">
        <div class="header_bottom_left">
            <div class="categories">
                @{Html.RenderAction("ProductCategory", "Product");}
            </div>
            </div>
            <div class="header_bottom_right">
                <div class="slider">
                    <div>
                        <div id="mover">
                            @foreach (var item in slides)
                            {
                                <div>
                                    class="slide">
                                    <div class="slider-img">
                                        <a href="@item.Link"><img src="@item.Image" alt="" /></a>
                                    </div>
                                    <div class="slider-text">

                                    </div>
                                    <div class="clear"></div>
                                </div>
                            }


                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
}
<div class="content">
    <div class="content_top">
        <div class="heading">
            <h3>New Products</h3>
        </div>
       
        <div class="clear"></div>
    </div>
    <div class="section group">
        @foreach (var item in listFeatureProducts)
        {
            var url = "/detail/" + item.MetaTitle + "-" + item.ID;
            <div class="grid_1_of_4 images_1_of_4">
                <a href="@url"><img src="@item.Image" alt="@item.Name" /></a>
                <h2>@item.Name</h2>
                <div class="price-details">
                    <div class="price-number">
                        <p><span class="rupees">@(item.Price.HasValue?item.Price.Value.ToString():"Contact")</span></p>
                    </div>
                    <div class="add-cart">
                        <h4><a href="/add-to-cart?productId=@item.ID&quantity=1">Add to Cart</a></h4>
                    </div>
                    <div class="clear"></div>
                </div>

            </div>
        }


    </div>
    <div class="content_bottom">
        <div class="heading">
            <h3>Feature Products</h3>
        </div>
       
        <div class="clear"></div>
    </div>
    <div class="section group">
        @foreach (var item in listNewProducts)
        {
            var url = "/detail/" + item.MetaTitle + "-" + item.ID;
            <div class="grid_1_of_4 images_1_of_4">
                <a href="@url"><img src="@item.Image" alt="@item.Name" /></a>
                <h2>@item.Name</h2>
                <div class="price-details">
                    <div class="price-number">
                        <p><span class="rupees">@(item.Price.HasValue ? item.Price.Value.ToString() : "Contact")</span></p>
                    </div>
                    <div class="add-cart">
                        <h4><a href="/add-to-cart?productId=@item.ID&quantity=1">Add to Cart</a></h4>
                    </div>
                    <div class="clear"></div>
                </div>
                
            </div>
        }
    </div>
</div>

