@model List<OnlineShop.Models.CartItem>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section jsFooter{

<script src="/assets/client/js/controller/cartController.js"></script>
    }
<div class="content">
  
    <div class="section group">
        @if (Model.Count > 0)
        {
            <table class="table">
                <thead>
                    <tr>
                        <td>Product ID</td>
                        <td>Product Name</td>
                        <td>Product Image</td>
                        <td>Quantity</td>
                        <td>Price</td>
                        <td>Total</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>@item.Product.ID</td>
                        <td>@item.Product.Name</td>
                        <td><img src="@item.Product.Image" width="100" /></td>
                        <td><input type="text" class="txtQuantity" data-id="@item.Product.ID" value="@item.Quantity" /></td>
                        <td>@item.Product.Price.GetValueOrDefault(0)</td>
                        <td>@(item.Product.Price.GetValueOrDefault(0) * item.Quantity)</td>
                        <td><a href="#" data-id="@item.Product.ID" class="btn-delete">Delete</a></td>
                    </tr>
                    }

                </tbody>
            </table>

            <button id="btnContinue" class="btn">Continue shopping</button>
            <button id="btnUpdate" class="btn">Update cart</button>
            <button id="btnDeleteAll" class="btn">Delete item</button>
            <button id="btnPayment" class="btn">Purchase</button>
        }
        else
        {
            <span class="alert alert-danger"> There is no product in cart </span>
        }
    </div>
</div>
       

 